body {
  background-color: #303030;
  color: aliceblue;
}

.title {
  text-align: center;
  margin-top: 150px;
}
.details{
  text-align: center;
  font-size: 22px;
}
.input{
  text-align: center;
  margin-top: 50px;
}
.submit{
  margin-top: 25px;
}
.bar{
  background-color: azure;
  padding: 20px;
}